<h1>Alumni Index</h1>
<!-- <div ng-controller ="safeCtrl"> -->
  <table st-table="alumni.displayUsers" st-safe-src="alumni.someUsers.info" class="table">
    <thread>
      <tr>
        <th colspan="8"><input st-search="" class="form-control"  placeholder="search by name, school, focus, location, workplace..." type="text"/></th>
        <!-- ng-model="selected" uib-typeahead = "item.searchableText as item.first_name for item in alumni.displayUsers" -->
      </tr>
      <tr>
        <th class = "col_1" st-sort="first_name">First Name</th>
        <th class = "col_2" st-sort="last_name">Last Name</th>
        <th class = "col_3" st-sort="high_school">High School</th>
        <th class = "col_4" st-sort="college">College</th>
        <th class = "col_5" st-sort="focus">Focus/Major</th>
        <th class = "col_6" st-sort="city">Location</th>
        <th class = "col_7" st-sort="current_workplace">Workplace</th>
      </tr>
    </thread>
    <tbody st-select-row="row" st-select-mode="multiple" ng-repeat = "us in alumni.displayUsers">
      <tr ng-click="alumni.moreInfo(us)">
        <td class = "col_1">{{us.first_name}}</td>
        <td class = "col_2">{{us.last_name}}</td>
        <td class = "col_3">{{us.high_school}}</td>
        <td class = "col_4">{{us.college}}</td>
        <td class = "col_5">{{us.focus}}</td>
        <td class = "col_6">{{us.city}}, {{us.state}}</td>
        <td class = "col_7">{{us.current_workplace}}</td>
        <td>
            <button class="fa fa-lg fa-plus-square-o" ng-hide="alumni.expanded == us._id" ng-click="alumni.moreInfo(us)"></button>
            <button class="fa fa-lg fa-minus-square" ng-show="alumni.expanded == us._id" ng-click="alumni.moreInfo(us)"></button>
        </td>
      </tr>
      <tr ng-show="alumni.expanded == us._id" ng-repeat-end="">
        <td colspan="8">
          <div class="row backgroundGray radius">
              <div class="section">
                <img src = "{{us.photo_url}}" class = "userImage img-circle" height = "150px"/><br />
                <span class = "onlyMobile"><label>High School: </label> &nbsp {{us.high_school}}</span><br />
                <span class = "onlyMobile"><label>College: </label> &nbsp {{us.college}}</span><br />
                <span class = "displayInline"><label>Phone Number: </label> &nbsp {{us.phone}}</span><br />
                <span class = "onlyMobile"><label>Current Workplace: </label> &nbsp {{us.current_workplace}}</span><br />
                <span class = "displayInline">&nbsp <a href="{{us.linkedin_url}}" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></span>
                <span class = "displayInline">&nbsp <i class="fa fa-slack fa-2x" aria-hidden="true" ng-click = "alumni.showSlackMessage()"></i></span>
                <span class = "displayInline">&nbsp <textarea ng-show = "alumni.slackClicked" rows = "1" cols = "40" ng-model = "us.customMessage"></textarea></span>
                <span class = "displayInline">&nbsp <button class = "btn btn-md" ng-show = "alumni.slackClicked" ng-click = "alumni.sendSlackMessage(us)">Slack 'Em!</button></span>

                <span class="section fenix italics rightMarginThirty floatRight">{{us.quote}}</span>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="bottomSpace"></div>

<!-- </div> -->
