<div class="floatRight smallText textGreen"> Filter by:
  <a class="linkMargin" href="/allTalent">All</a>
  <a class="linkMargin" href="/seekingEmployment">Seeking Employment</a>
  <a class="linkMargin" href="/seekingInternship">Seeking Internship</a>
</div>

<h1>Alumni Talent Pool</h1>

<div class="container">
  <row>
    <div class="col-md-3 talentPool" ng-repeat="alumni in talent.twentyUsers">
      <row>
        <img src="{{alumni.photo_url}}" class = "img-circle medMargin" width = "180px" height = "180px" /><br />
        {{alumni.first_name}} &nbsp {{alumni.last_name}} <br />
        {{alumni.college}} <br />
        Interested in: &nbsp {{alumni.focus}} <br />
      </row>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-sm alignRight" data-toggle="modal" data-target="#myModal">
      More
      </button>
    </div>
  </row>
</div>
<div id="bottomSpace"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{talent.user4.first_name}} {{talent.user4.last_name}}</h4>
      </div>
      <div class="modal-body">
        <img src = {{talent.user4.photo_url}} class = "img-circle" height = "300px"/><br />
        School: {{talent.user4.college}} <br>
        Focus: {{talent.user4.focus}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
