<div class="floatRight smallText textGreen"> Filter by:
  <a id = "all" class="talentFilter linkMargin " ng-class="{selected: talent.allSelected}" ng-click = "talent.switchToAll()" >All</a>
  <a id = "emp" class="talentFilter linkMargin " ng-class="{selected: talent.empSelected}" ng-click = "talent.switchToEmp()" >Seeking Employment</a>
  <a id = "int" class="talentFilter linkMargin " ng-class="{selected: talent.intSelected}" ng-click = "talent.switchToInt()" >Seeking Internship</a>
</div>

<h1>Alumni Talent Pool</h1>

<div class="container">
  <row>
    <div ng-repeat="alumni in talent.data.slice(((talent.currentPage-1)*talent.itemsPerPage), ((talent.currentPage)*talent.itemsPerPage))" data-toggle="modal" data-target="#myModal" ng-click = "talent.open(alumni)">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
      <row class= "col-md-3 talentPool">
        <img src="{{alumni.photo_url}}" class = "img-circle medMargin" width = "180px" height = "180px" /><br />
        {{alumni.first_name}} &nbsp {{alumni.last_name}} <br />
        {{alumni.college}} <br />
        Interested in: &nbsp {{alumni.focus}} <br />
      </row>
      <!-- Button trigger modal -->
    </div>
  </row>
</div>
<br />
<br />
<br />
<row class="col-md-11">
  <uib-pagination class="pagination-sm floatRight linkMargin" max-size = "talent.maxSize" total-items="talent.totalItems" ng-model="talent.currentPage" ng-change="talent.pageChanged()"></uib-pagination>
  <div class = "floatRight footerText">View <select ng-model="talent.viewby" ng-change="talent.setItemsPerPage(talent.viewby)"><option>20</option><option>40</option><option>80</option><option>100</option></select> records at a time. </div>
</row>
<br />
<div id="bottomSpace"></div>

<!-- Modal -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{detail.alumni.first_name}} &nbsp {{detail.alumni.last_name}} </h3>
    </div>
    <div class="modal-body">
      <div class="mainDetails row">
      <img src="{{detail.alumni.photo_url}}" class = "img-circle medMargin" width = "180px" height = "180px" /><br />
      <a href = "detail.alumni.linkedin_url">LinkedIn</a></br>
      <strong>College</strong>: {{detail.alumni.college}}</br>
      <strong>High School</strong>: {{detail.alumni.high_school}}
      </div>
      <div class = "row">
        <strong>Current City</strong>: {{detail.alumni.city}}, {{detail.alumni.state}}</br>
        <strong>Focus/Major</strong>: {{detail.alumni.focus}}</br>

        <div class = "well">
          <em>{{detail.alumni.quote}}</em>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="detail.cancel()">close</button>
    </div>
</script>
