<div class="floatRight smallText textGreen"> Filter by:
  <a id = "all" class="talentFilter linkMargin smallPadding" ng-class="{selected: talent.allSelected}" ng-click = "talent.switchToAll()" >All</a>
  <a id = "emp" class="talentFilter linkMargin smallPadding" ng-class="{selected: talent.empSelected}" ng-click = "talent.switchToEmp()" >Seeking Employment</a>
  <a id = "int" class="talentFilter linkMargin smallPadding" ng-class="{selected: talent.intSelected}" ng-click = "talent.switchToInt()" >Seeking Internship</a>
</div>

<h1 class="medMargin">Alumni Talent Pool</h1>

<p class="medText medMargin">The Alumni Talent Pool is composed of The BrandLab Alumni who are ready to take this industry by storm.
<br />If you are hiring and believe that one of these incredible alumni may be a fit for you, please reach out to him/her and <a href="mailto:klawrence@thebrandlab.org">Ken Lawrence</a> to discuss further. The talent is truly amazing!</p>

<div class="container">
  <row>
    <div ng-repeat="alumni in talent.data.slice(((talent.currentPage-1)*talent.itemsPerPage), ((talent.currentPage)*talent.itemsPerPage))" data-toggle="modal" data-target="#myModal" ng-click = "talent.open(alumni)">
      <div class="clearfix" ng-if="$index % 4 == 0"></div>
      <row class= "col-md-3 talentPool">
        <div class ="talentPoolText">
        <img src="{{alumni.photo_url}}" class = "img-circle medMargin" height = "180px" /><br />
        <span><strong>{{alumni.first_name}} {{alumni.last_name}} <br /></strong></span>
        <span class="smallText" ng-show="alumni.first_year">First Year,</span>
        <span class="smallText" ng-show="alumni.sophomore">Sophomore,</span>
        <span class="smallText" ng-show="alumni.junior">Junior,</span>
        <span class="smallText" ng-show="alumni.senior">Senior,</span>
        <span class="smallText" ng-show="alumni.graduate">Graduate,</span>
        <span class="smallText" ng-show="alumni.college">{{alumni.college}}<br /></span>
        <span ng-show="alumni.seeking_internship || alumni.seeking_employment">
          <span class="smallText italics"><label>Seeking:</label> &nbsp;
            <span ng-show="alumni.seeking_internship">Internship</span>
            <span ng-show="alumni.seeking_internship && alumni.seeking_employment"> &nbsp; | &nbsp; </span>
            <span ng-show="alumni.seeking_employment">Employment</span>
            <br />
          </span>
      </span>
        <span class="smallText" ng-show="alumni.interestedIn"><strong>Interested in</strong>: &nbsp; {{alumni.interestedIn}} </br></span>
        </div>
      </row>
    </div>
  </row>
</div>
<br />
<br />
<br />
<row class="col-md-11">
  <uib-pagination class="pagination-sm floatRight linkMargin" max-size = "talent.maxSize" total-items="talent.totalItems" ng-model="talent.currentPage" ng-change="talent.pageChanged()"></uib-pagination>
  <div class = "floatRight footerText">
    View <select
      ng-model="talent.viewby"
      ng-change="talent.setItemsPerPage(talent.viewby)"
      ng-options = "number for number in talent.viewbyArray">
    </select> alumni at a time. </div>
</row>
<br />
<div id="bottomSpace"></div>

<!-- Modal -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h1 class="modal-title">{{detail.alumni.first_name}} &nbsp; {{detail.alumni.last_name}} </h1>
    </div>
    <div class="modal-body">
      <div class="mainDetails row">
      <div class = "col-md-5">
        <div class = "linkedInURL">
        <img src="{{detail.alumni.photo_url}}" class = "img-circle medMargin" width = "170px" />
        <a href = "{{detail.alumni.linkedin_url}}" target = "_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></br>
        </br>
        </div>
      </div>
      <div class = "col-md-7">
      <span ng-show="detail.alumni.college"><strong>College</strong>: &nbsp;
        <span ng-show="detail.alumni.first_year">First Year,</span>
        <span ng-show="detail.alumni.sophomore">Sophomore,</span>
        <span ng-show="detail.alumni.junior">Junior,</span>
        <span ng-show="detail.alumni.senior">Senior,</span>
        <span ng-show="detail.alumni.graduate">Graduate,</span>
        {{detail.alumni.college}}</span></br>
      <br />
      <span ng-show="detail.alumni.high_school"><strong>High School</strong>: &nbsp; {{detail.alumni.high_school}}</br></span>
      <br />
      <span ng-show="detail.alumni.state"><strong>Current City</strong>: &nbsp; {{detail.alumni.city}}, {{detail.alumni.state}}</br></span>
      <br />
      <span ng-show="detail.alumni.focus"><strong>Focus/Major</strong>: &nbsp; {{detail.alumni.focus}}</br></span>
      <br />
      <span ng-show="detail.alumni.interestedIn"><strong>Interested In</strong>: &nbsp; {{detail.alumni.interestedIn}} </br></span>
      <br />
      <span ng-show="detail.alumni.internships[0]"><strong>The BrandLab <span ng-if = "!detail.alumni.internships[1]">Internship</span><span ng-if = "detail.alumni.internships[1]">Internships</span></strong>: </span><span ng-show ="detail.alumni.internships[0]">{{detail.alumni.internships[0].site}} : {{detail.alumni.internships[0].year}}</span>
      <span ng-show = "detail.alumni.internships[1]">&nbsp; | &nbsp; {{detail.alumni.internships[1].site}} : {{detail.alumni.internships[1].year}}</span>
      <span ng-show = "detail.alumni.internships[2]">&nbsp; | &nbsp; {{detail.alumni.internships[2].site}} : {{detail.alumni.internships[2].year}}</span>
      <span ng-show = "detail.alumni.internships[3]">&nbsp; | &nbsp; {{detail.alumni.internships[3].site}} : {{detail.alumni.internships[3].year}}</span>
      <span ng-show = "detail.alumni.internships[4]">&nbsp; | &nbsp; {{detail.alumni.internships[4].site}} : {{detail.alumni.internships[4].year}}</span>
      <span ng-show = "detail.alumni.internships[5]">&nbsp; | &nbsp; {{detail.alumni.internships[5].site}} : {{detail.alumni.internships[5].year}}</span>
      </br>
      </br>
      <span ng-show="detail.alumni.quote"><em>"{{detail.alumni.quote}}"</em></span>
      </br>
      </br>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="detail.cancel()">close</button>
    </div>
</script>
