<!DOCTYPE html>
<html ng-app = "connectUApp">
  <head>
    <meta charset="utf-8">
    <title>ConnectU</title>
    <!-- LIBRARIES -->
    <script src = "vendor/angular/angular.min.js"></script>
    <script src = "vendor/angular-route/angular-route.min.js"></script>
    <script src = "vendor/angular-smart-table/dist/smart-table.min.js"></script>
    <script src = "vendor/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src = "vendor/angular-animate/angular-animate.min.js"></script>
    <script src = "vendor/angular-aria/angular-aria.min.js"></script>
    <script src = "vendor/angular-material/angular-material.min.js"></script>
    <script src = "vendor/jquery/dist/jquery.min.js"></script>
    <script src = "vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel = "stylesheet" href = "vendor/font-awesome/css/font-awesome.min.css" /> NOT SOURCING FOR SOME REASON.. CDN BELOW-->
    <script src="https://use.fontawesome.com/9b837454c3.js"></script>
    <!-- CUSTOM -->
    <script src = "assets/scripts/composite.all.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Fenix|Cabin:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel = "stylesheet" href = "assets/styles/style.css" />
    <!-- ANGULAR ROUTE PATH -->
    <base href = "/" />
  </head>

  <body ng-controller="MainController as main">
    <header class="container-fluid">
      <row>
        <a href="/"><img id="connectLogo" src="assets/styles/images/TBL-connect_logo_RGB_horizontal_BIG.png" alt="ConnectU Logo" height="150px"><a/>
        <a data-toggle="modal" href="#loginModal" class="floatRight login" ng-hide="main.loggedIn.loggedIn">Alumni Login</a>
        <a href="/auth/logout" class="floatRight login" ng-show="main.loggedIn.loggedIn" target="_self">Log Out</a>
        <a href="/alumniIndex" class="floatRight login" ng-show="main.loggedIn.loggedIn">Alumni Index</a>
        <a href="/" class="floatRight login" ng-show="main.loggedIn.loggedIn">Talent Pool</a>
        <span ng-hide="main.isAdmin.admin"><a data-toggle="modal" class="floatRight login" ng-show="main.loggedIn.loggedIn" ng-click = "main.open(main.userInformation)">My Profile</a></span>
      </row>
    </header>

    <main class="container-fluid">
      <!-- JUST FOR TESTS -->
          <!-- <nav class = "navbar navbar-default">
                <div class = "container">
                  <ul class = "nav navbar-nav">
                    <li>
                      <a href = "/">Talent Pool</a>
                    </li>
                    <li>
                      <a href = "/alumniIndex">Alumni Index</a>
                    </li>
                    <li>
                      <a data-toggle="modal" href="#registerModal">Register</a>
                    </li>
                  </ul>
                </div>
              </nav> -->
      <!-- END OF TEST SECTION -->
    <div ng-view>

    </div>

  </main>
    <footer class="footer navbar-fixed-bottom container-fluid">
      <row>
        <a href="http://www.thebrandlab.org/" target="_blank">
          <img id="TBLLogo" src="assets/styles/images/Horizontal-color-RGB.png" alt="The BrandLab Logo" height="50px">
        </a>
      </row>
      <row>
        <p class="centerText footerText textGreen">©
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          <a data-toggle="modal" href="#adminLoginModal" class="adminLogin">Admin Login</a>
        </p>
      </row>
    </footer>
  </body>


  <!-- Register Modal -->
  <script type="text/ng-template" id="myProfileModal.html">
    <form name="profileForm" ng-submit="profile.registerUser(profileForm.$valid)" novalidate>
        <div class="modal-header backgroundNavy">
          <button ng-hide="profile.required" type="button" class="close closeReg" ng-click="profile.cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="textGreen">ConnectU Alumni Profile</h4>
        </div>
        <div class="modal-body">
          <div>
            <h1>{{profile.userInfo.first_name}} {{profile.userInfo.last_name}}</h1>
            <span ng-show="profile.userInfo.high_school"><input type="checkbox" name="editProfile" ng-model="profile.edit"><span class="smallText">Click to edit existing info</span></span>
          </div>

          <br />

          <div class="form-group">
            <label class="textGreen">Seeking:</label>
            <span ng-show="profile.userInfo.seeking_employment && !profile.edit">Employment</span>
            <span ng-show="profile.userInfo.seeking_internship && !profile.edit">Internship</span>
            <span ng-hide="profile.userInfo.seeking_internship || profile.userInfo.seeking_employment || !profile.userInfo.high_school || profile.edit">Nothing at this time</span>
          </div>

          <div class="form-group" ng-hide="(profile.userInfo.seeking_employment || profile.userInfo.seeking_internship) && !profile.edit">
            <input type="checkbox" name="seekingInternship" ng-model = "profile.newUser.seeking_internship"><span class="smallText"> Internship </span>
            <input type="checkbox" name="seekingEmployment" ng-model = "profile.newUser.seeking_employment"><span class="smallText">Employment </span>
            <input type="checkbox" name="seekingNone" ng-model = "profile.newUser.seeking_none"><span class="smallText">Nothing at this time</span>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : profileForm.internshipSite.$invalid && !profileForm.internshipSite.$pristine }">
            <label class="textGreen">The BrandLab Internship Site<span ng-hide="profile.userInfo.high_school">*</span>:</label>
            <span ng-show="profile.userInfo.internshipOne.site && !profile.edit">{{profile.userInfo.internshipOne.site}}
              <span ng-show="profile.userInfo.internshipOne.year && !profile.edit">, &nbsp; {{profile.userInfo.internshipOne.year}}</span>
            </span>

            <div ng-hide="profile.userInfo.internshipOne.site && !profile.edit">
              <input type="text" name="internshipSite" uib-typeahead = "item.internshipOne.site || item.internshipTwo.site for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "profile.newUser.internshipOne.site" ng-required="profile.required" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.internshipSite.$invalid && !profileForm.internshipSite.$pristine" class="help-block smallText">Internship site is required.</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : profileForm.internshipYear.$invalid && !profileForm.internshipYear.$pristine }">
            <div ng-hide="profile.userInfo.internshipOne.site && !profile.edit">
              <label class="textGreen">The BrandLab Internship Year<span ng-hide="profile.userInfo.high_school">*</span>:</label>
              <input type="number" name="internshipYear" ng-model = "profile.newUser.internshipOne.year" maxlength="4" min="2007" ng-required="profile.required" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.internshipYear.$invalid && !profileForm.internshipYear.$pristine" class="help-block smallText">Internship year is required.</p>
            </div>
            <div ng-hide="profile.userInfo.internshipTwo.site">
              <input type="checkbox" name="check1" ng-model="profile.internship2checked" /> <label class="smallText">Add internship</label>
            </div>
          </div>

          <div class="form-group" ng-show="profile.userInfo.internshipTwo.site || profile.internship2checked">
            <label class="textGreen">The BrandLab Internship #2 Site:</label>
            <span ng-show="profile.userInfo.internshipTwo.site && !profile.edit">{{profile.userInfo.internshipTwo.site}}
              <span ng-show="profile.userInfo.internshipTwo.year && !profile.edit">, &nbsp; {{profile.userInfo.internshipTwo.year}}</span></span>
              <br/>
            <div ng-hide="profile.userInfo.internshipTwo.site && !profile.edit">
              <input type="text" name="internship2Site" uib-typeahead = "item.internshipOne.site || item.internshipTwo.site for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "profile.newUser.internshipTwo.site" class="form-control" aria-describedby="sizing-addon1"></input>
              <br />
              <div>
                <label class="textGreen">The BrandLab Internship #2 Year:</label>
                <input type="number" name="internship2Year" ng-model = "profile.newUser.internshipTwo.year" maxlength="4" min="2007" class="form-control" aria-describedby="sizing-addon1"></input>
              </div>
            </div>
          </div>


          <div class="form-group" ng-class="{ 'has-error' : profileForm.slack.$invalid && !profileForm.slack.$pristine }">
            <label class="textGreen">Slack ID<span ng-hide="profile.userInfo.high_school">*</span>:</label>
            <span ng-show="profile.userInfo.slack_id && !profile.edit">{{profile.userInfo.slack_id}}</span>
            <div ng-hide="profile.userInfo.slack_id && !profile.edit">
              <input type="text" name="slack" ng-model = "profile.newUser.slack_id" ng-required="profile.required" placeholder="@MySlackID" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.slack.$invalid && !profileForm.slack.$pristine" class="help-block smallText">Slack ID is required.</p>
            </div>
          </div>


          <div class="form-group" ng-class="{ 'has-error' : profileForm.highSchool.$invalid && !profileForm.highSchool.$pristine }">
            <label class="textGreen">High School<span ng-hide="profile.userInfo.high_school">*</span>:</label>
            <span ng-show="profile.userInfo.high_school && !profile.edit">{{profile.userInfo.high_school}}</span>
            <div ng-hide="profile.userInfo.high_school && !profile.edit">
              <input type="text" name="highSchool" uib-typeahead = "item.high_school for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "profile.newUser.high_school" ng-required="profile.required" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.highSchool.$invalid && !profileForm.highSchool.$pristine" class="help-block smallText">High school is required.</p>
            </div>
          </div>

          <label class="textGreen">College:</label>
          <span ng-show="profile.userInfo.college">
            <span ng-show="profile.userInfo.first_year && !profile.edit">First Year,</span>
            <span ng-show="profile.userInfo.sophomore && !profile.edit">Sophomore,</span>
            <span ng-show="profile.userInfo.junior && !profile.edit">Junior,</span>
            <span ng-show="profile.userInfo.senior && !profile.edit">Senior,</span>
            <span ng-show="profile.userInfo.graduate && !profile.edit">Graduate,</span>
            <span ng-show="profile.userInfo.college && !profile.edit">{{profile.userInfo.college}}</span>
          </span>

          <br />

          <div ng-hide="profile.userInfo.college && !profile.edit">
            <input type="text" name="college" uib-typeahead = "item.college for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "profile.newUser.college" class="form-control" aria-describedby="sizing-addon1"></input>
          </div>

          <div ng-hide="(profile.userInfo.first_year || profile.userInfo.sophomore || profile.userInfo.junior || profile.userInfo.senior || profile.userInfo.graduate) && !profile.edit">
            <label class="smallText"><input type="radio" ng-model="profile.newUser.first_year" name="schoolYear" value="firstYear"> &nbsp; First-Year</label><br />
            <label class="smallText"><input type="radio" ng-model="profile.newUser.sophomore" name="schoolYear" value="sophomore"> &nbsp; Sophomore</label><br />
            <label class="smallText"><input type="radio" ng-model="profile.newUser.junior" name="schoolYear" value="junior"> &nbsp; Junior</label><br />
            <label class="smallText"><input type="radio" ng-model="profile.newUser.senior" name="schoolYear" value="senior"> &nbsp; Senior</label><br />
            <label class="smallText"><input type="radio" ng-model="profile.newUser.graduate" name="schoolYear" value="graduate"> &nbsp; Graduate</label><br />
          </div>

          <br />

          <div class="form-group">
            <label class="textGreen">Focus/Major:</label>
            <span ng-show="profile.userInfo.focus && !profile.edit">{{profile.userInfo.focus}}</span>
            <div ng-hide="profile.userInfo.focus && !profile.edit">
              <input type="text" name="focus" ng-model = "profile.newUser.focus"  uib-typeahead = "item.focus for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" class="form-control" aria-describedby="sizing-addon1"></input>
            </div>
          </div>

          <div class="form-group">
            <label class="textGreen">Current Workplace:</label>
            <span ng-show="profile.userInfo.current_workplace && !profile.edit">{{profile.userInfo.current_workplace}}</span>
            <div ng-hide="profile.userInfo.current_workplace && !profile.edit">
              <input type="text" name="workplace" ng-model = "profile.newUser.current_workplace" uib-typeahead = "item.current_workplace for item in profile.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3"  class="form-control" aria-describedby="sizing-addon1"></input>
            </div>
          </div>

          <div class="form-group">
            <label class="textGreen">Quote:</label>
            <span ng-show="profile.userInfo.quote && !profile.edit">{{profile.userInfo.quote}}</span>
            <div ng-hide="profile.userInfo.quote && !profile.edit">
              <span class="smallText">Tell us about yourself</span>
              <textarea rows="4" cols="50" ng-model = "profile.newUser.quote"  name="quote" class="form-control" aria-describedby="sizing-addon1"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="textGreen">Interested In:</label>
            <span ng-show="profile.userInfo.interestedIn && !profile.edit">{{profile.userInfo.interestedIn}}</span>
            <div ng-hide="profile.userInfo.interestedIn && !profile.edit">
              <textarea rows="4" cols="50" ng-model = "profile.newUser.interestedIn" name="interest" class="form-control" aria-describedby="sizing-addon1"></textarea>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : profileForm.phone.$invalid && !profileForm.phone.$pristine }">
            <label class="textGreen">Phone<span ng-hide="profile.userInfo.high_school">*</span>:</label>
            <span ng-show="profile.userInfo.phone && !profile.edit">{{profile.userInfo.phone}}</span>
            <div ng-hide="profile.userInfo.phone && !profile.edit">
              <input type="tel" name="phone" ng-minlength="10" ng-maxlength="12" placeholder="xxx-xxx-xxxx" ng-model="profile.newUser.phone" ng-required="profile.required" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.phone.$error.minlength" class="help-block smallText">Use format xxx-xxx-xxxx</p>
              <p ng-show="profileForm.phone.$error.maxlength" class="help-block smallText">Use format xxx-xxx-xxxx</p>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : profileForm.zip.$invalid && !profileForm.zip.$pristine }">
            <span ng-show="profile.userInfo.state && !profile.edit">
              <label class="textGreen">Location:</label>{{profile.userInfo.city}}, {{profile.userInfo.state}}
            </span>
            <div ng-hide="profile.userInfo.state && !profile.edit">
              <label class="textGreen">Zip Code<span ng-hide="profile.userInfo.high_school">*</span>:</label>
              <input type="number" name="zip" ng-minlength="5" ng-maxlength="5" ng-model="profile.zip_code" ng-required="profile.required" class="form-control" aria-describedby="sizing-addon1"></input>
              <p ng-show="profileForm.zip.$invalid && !profileForm.zip.$pristine" class="help-block smallText">5-digit zip code is required.</p>
            </div>
          </div>
        </div>

        <div class="modal-footer backgroundNavy">
          <input type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid" ng-click="profile.cancel()" value="Submit and Enter"></input>
        </div>
      </div>
    </form>
  </script>


  <!-- Alumni Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Alumni Login</h1>
          </div>
          <div class="modal-body">
            <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=773a8a5y9gfyug&redirect_uri=http://localhost:3000/auth/linkedin/callback&state=LOLznuiJZx=&scope=r_basicprofile%20r_emailaddress%20w_share"><img src="assets/styles/images/Sign-in-Large---Default.png" height="40px"/></a>
          </div>
        </div>

        <div class="modal-footer">
        </div>
      </form>
    </div>
  </div>


  <!-- Admin Login Modal -->

  <div class="modal fade" id="adminLoginModal" tabindex="-1" role="dialog" aria-labelledby="adminLoginModalLabel">
    <div class="modal-dialog" role="document">
      <form ng-submit = "main.loginAdmin()">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Admin Login</h1>
          </div>
          <div class="modal-body">
            <label>Email:</label>
            <input type="email" name="email" ng-model = "main.newAdmin.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Password:</label>
            <input type="password" name="password" ng-model = "main.newAdmin.password" required="true" class="form-control" aria-describedby="sizing-addon1"></input>
          </div>
          <div class ="modal-footer">
            <input type="submit" class="btn btn-primary" value = "Enter"></input>
        </div>
      </form>
    </div>
  </div>

<!-- register new admin -->

<div class="modal fade" id="adminRegModal" tabindex="-1" role="dialog" aria-labelledby="adminRegLabel">
  <div class="modal-dialog" role="document">
    <form ng-submit = "main.loginAdmin()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1>Register New Admin</h1>
        </div>
        <div-class = "modal-body">
          <label>First Name</label>
          <input type="text" name="first_name" ng-model="main.regAdmin.first_name" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

          <label>Last Name</label>
          <input type="text" name="last_name" ng-model="main.regAdmin.last_name" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

          <label>Email</label>
          <input type="email" name="email" ng-model="main.regAdmin.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

          <label>Password</label>
          <input type="password" name="password" ng-model="main.regAdmin.password" required="true" class="form-control" aria-describedby="sizing-addon1"></input>
        </div>

        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value = "Enter"></input>
      </div>
    </form>
  </div>
</div>

      <!--login inputs, buttons etc here-->
  </div>

</html>
