<!DOCTYPE html>
<html ng-app = "connectUApp">
  <head>
    <meta charset="utf-8">
    <title>ConnectU</title>
    <!-- LIBRARIES -->
    <script src = "vendor/angular/angular.min.js"></script>
    <script src = "vendor/angular-route/angular-route.min.js"></script>
    <script src = "vendor/angular-smart-table/dist/smart-table.min.js"></script>
    <script src = "vendor/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src = "vendor/angular-animate/angular-animate.min.js"></script>
    <script src = "vendor/angular-aria/angular-aria.min.js"></script>
    <script src = "vendor/angular-material/angular-material.min.js"></script>
    <script src = "vendor/jquery/dist/jquery.min.js"></script>
    <script src = "vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- <link rel = "stylesheet" href = "vendor/font-awesome/css/font-awesome.min.css" /> NOT SOURCING FOR SOME REASON.. CDN BELOW-->
    <script src="https://use.fontawesome.com/9b837454c3.js"></script>
    <!-- CUSTOM -->
    <script src = "assets/scripts/composite.all.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Fenix|Cabin:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel = "stylesheet" href = "assets/styles/style.css" />
    <!-- ANGULAR ROUTE PATH -->
    <base href = "/" />
  </head>

  <body ng-controller="MainController as main">
    <header class="container-fluid">
      <row>
        <img id="connectLogo" src="assets/styles/images/TBL-connect_logo_RGB_horizontal_BIG.png" alt="ConnectU Logo" height="150px">
        <a data-toggle="modal" href="#loginModal" class="floatRight login" ng-hide="main.loggedIn">Alumni Login</a>
        <a href="/logout" class="floatRight login" ng-show="main.loggedIn">Log Out</a>
        <a href="/profile" class="floatRight login" ng-show="main.loggedIn">My Profile</a>
      </row>
    </header>

    <main class="container-fluid">
      <!-- JUST FOR TESTS -->
          <nav class = "navbar navbar-default">
                <div class = "container">
                  <ul class = "nav navbar-nav">
                    <li>
                      <a href = "/">Talent Pool</a>
                    </li>
                    <li>
                      <a href = "/alumniIndex">Alumni Index</a>
                    </li>
                    <li>
                      <a data-toggle="modal" href="#registerModal">Register</a>
                    </li>
                  </ul>
                </div>
              </nav>
      <!-- END OF TEST SECTION -->
    <div ng-view>

    </div>

  </main>
    <footer class="footer navbar-fixed-bottom container-fluid">
      <row>
        <a href="http://www.thebrandlab.org/" target="_blank">
          <img id="TBLLogo" src="assets/styles/images/Horizontal-color-RGB.png" alt="The BrandLab Logo" height="50px">
        </a>
      </row>
      <row>
        <p class="centerText footerText textGreen">©
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          <a href="/adminLogin" class="adminLogin">Admin Login</a>
        </p>
      </row>
    </footer>
  </body>


  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <form ng-submit = "main.registerUser()">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="textGreen">ConnectU Registration</h4>
          </div>
          <div class="modal-body">
            <label>Email*:</label>
            <input type="email" name="email" ng-model = "main.newUser.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>First Name*:</label>
            <input type="text" name="firstName" ng-model = "main.newUser.first_name" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Last Name*:</label>
            <input type="text" name="lastName" ng-model = "main.newUser.last_name" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Zip:</label>
            <input type="number" name="zip" maxlength="5" ng-model = "main.zip_code" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Phone:</label>
            <input type="tel" name="phone" maxlength="12" ng-model = "main.newUser.phone" class="form-control" aria-describedby="sizing-addon1"></input>




            <label>The BrandLab Internship Site*:</label>
            <input type="text" name="internshipSite" ng-model = "main.newUser.internships[0].site" required="true" class="form-control" aria-describedby="sizing-addon1"></input>
            <label>The BrandLab Internship Year*:</label>
            <input type="number" name="internshipYear" ng-model = "main.newUser.internships[0].year" maxlength="4" min="2000" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>The BrandLab Internship Site #2*:</label>
            <input type="text" name="internshipSite" ng-model = "main.newUser.internships[1].site" class="form-control" aria-describedby="sizing-addon1"></input>
            <label>The BrandLab Internship Year #2*:</label>
            <input type="number" name="internshipYear" ng-model = "main.newUser.internships[1].year" maxlength="4" min="2000" class="form-control" aria-describedby="sizing-addon1"></input>




            <label>High School*:</label>
            <input type="text" name="highSchool" uib-typeahead = "item.high_school for item in main.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "main.newUser.high_school" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>College:</label>
            <input type="text" name="college" uib-typeahead = "item.college for item in main.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" ng-model = "main.newUser.college" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Current Workplace:</label>
            <input type="text" name="workplace" ng-model = "main.newUser.current_workplace" uib-typeahead = "item.current_workplace for item in main.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3"  class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Focus/Major:</label>
            <input type="text" name="focus" ng-model = "main.newUser.focus" uib-typeahead = "item.focus for item in main.someUsers.info | filter:$viewValue | limitTo:8" typeahead-min-length = "3" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Slack ID*:</label>
            <input type="text" name="slack" ng-model = "main.newUser.slack_id" required="true" placeholder="@slackID" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Photo URL:</label>
            <input type="url" name="photo" ng-model = "main.newUser.photo_url" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Quote:</label>
            <textarea rows="4" cols="50" ng-model = "main.newUser.quote" name="quote" class="form-control" aria-describedby="sizing-addon1"></textarea>

            <label>Seeking:</label>
            <input type="checkbox" name="seekingInternship" ng-model = "main.newUser.seeking_internship">Internship
            <input type="checkbox" name="seekingEmployment" ng-model = "main.newUser.seeking_employment">Employment

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
            <input type="submit" class="btn btn-primary" value = "Register and Enter"></input>
          </div>
        </div>
      </form>
    </div>
  </div>


  <!-- Alumni Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
      <form>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Alumni Login</h1>
          </div>
          <div class="modal-body">
            <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=773a8a5y9gfyug&redirect_uri=http://localhost:3000/auth/linkedin/callback&state=LOLznuiJZx&scope=r_basicprofile%20r_emailaddress%20w_share" target="_blank"><img src="assets/styles/images/Sign-in-Large---Default.png" height="40px"/></a>
          </div>
            <!-- <label>Email*:</label>
            <input type="email" name="email" ng-model = "main.userLogin.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Password*:</label>
            <input type="password" name="password" ng-model = "main.userLogin.password" required="true" class="form-control" aria-describedby="sizing-addon1"></input> -->
        </div>

        <div class="modal-footer">
        </div>
      </form>
    </div>
  </div>


  <!-- Admin Login Modal -->

  <div class="modal fade" id="adminLoginModal" tabindex="-1" role="dialog" aria-labelledby="adminLoginModalLabel">
    <div class="modal-dialog" role="document">
      <form ng-submit = "main.loginAdmin()">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <label>Email:</label>
            <input type="email" name="email" ng-model = "main.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>

            <label>Password:</label>
            <input type="password" name="password" ng-model = "main.email" required="true" class="form-control" aria-describedby="sizing-addon1"></input>
          </div>
        </div>
      </form>
    </div>
  </div>

</html>
